<?php

declare(strict_types=1);

use Datana\PhpCsFixer;

require_once __DIR__ . '/tools/vendor/autoload.php';

$header = <<<'HEADER'
This file is part of datana-gmbh/intercom-value-objects.

(c) Datana GmbH

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
HEADER;

$config = PhpCsFixer\Config\Factory::fromRuleSet(new PhpCsFixer\Config\RuleSet\Php74($header), [
    'php_unit_internal_class' => false,
]);

$config->getFinder()
    ->in('src')
    ->in('tests');

return $config;
